.about-page {
  padding-top: 6rem;
}

.about-page__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-page__profile__title {
  margin-top: 0;
}

.about-page__profile__image {
  border-radius: 50%;
  height: 256px;
  width: 256px;
  margin-bottom: 4rem;
}

.about-page__content {
  max-width: var(--post-width);
  margin: auto;
  padding: 0 2rem;
  font-family: var(--fontFamily-sans);
}
