.post-header {
  max-width: var(--post-width);
  margin: auto;
  padding: 0 2rem;
}

.post-header__post-title {
  font-weight: black;
}

.post-header__publish-data {
  font-family: var(--font-heading);
  font-size: var(--fontSize-2);
}
