.index {
  margin: auto;
  max-width: var(--post-width);
  padding: 0 2rem;
}

.index__paragraph {
  font-size: var(--fontSize-3);
  transition: font-size 0.3s;
  font-family: var(--fontFamily-sans);
}

@media (max-width: 42rem) {
  .index__paragraph {
    font-size: var(--fontSize-1);
  }
}
